[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-domaintools = {git = "https://github.com/pizzacat83/domaintools"}

[requires]
python_version = "3.7"
